# ğŸ“ğŸ“ train + test

In [123]:
import pandas as pd
import numpy as np

train = pd.read_csv('/Users/pycode/project/á„ƒá…¦á„‹á…µá„á…¥/train.csv')
train.info()
train.head()
# train.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      2452 non-null   object
 1   ë§¤ë¬¼í™•ì¸ë°©ì‹  2452 non-null   object
 2   ë³´ì¦ê¸ˆ     2452 non-null   float64
 3   ì›”ì„¸      2452 non-null   int64
 4   ì „ìš©ë©´ì     1665 non-null   float64
 5   í•´ë‹¹ì¸µ     2223 non-null   float64
 6   ì´ì¸µ      2436 non-null   float64
 7   ë°©í–¥      2452 non-null   object
 8   ë°©ìˆ˜      2436 non-null   float64
 9   ìš•ì‹¤ìˆ˜     2434 non-null   float64
 10  ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€  2452 non-null   object
 11  ì´ì£¼ì°¨ëŒ€ìˆ˜   1756 non-null   float64
 12  ê´€ë¦¬ë¹„     2452 non-null   int64
 13  ì¤‘ê°œì‚¬ë¬´ì†Œ   2452 non-null   object
 14  ì œê³µí”Œë«í¼   2452 non-null   object
 15  ê²Œì¬ì¼     2452 non-null   object
 16  í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€  2452 non-null   int64
dtypes: float64(7), int64(3), object(7)
memory usage: 325.8+ KB

,ID,ë§¤ë¬¼í™•ì¸ë°©ì‹,ë³´ì¦ê¸ˆ,ì›”ì„¸,ì „ìš©ë©´ì,í•´ë‹¹ì¸µ,ì´ì¸µ,ë°©í–¥,ë°©ìˆ˜,ìš•ì‹¤ìˆ˜,ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€,ì´ì£¼ì°¨ëŒ€ìˆ˜,ê´€ë¦¬ë¹„,ì¤‘ê°œì‚¬ë¬´ì†Œ,ì œê³µí”Œë«í¼,ê²Œì¬ì¼,í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€
0,TRAIN_0000,í˜„ì¥í™•ì¸,402500000.0,470000,NaN,NaN,15.0,ì„œí–¥,1.0,1.0,ê°€ëŠ¥,40.0,96,t93Nt6I2I0,Bí”Œë«í¼,2024-10-09,0
1,TRAIN_0001,í˜„ì¥í™•ì¸,170500000.0,200000,NaN,3.0,4.0,ë‚¨ë™í–¥,2.0,1.0,ë¶ˆê°€ëŠ¥,NaN,0,q39iV5J4E6,Dí”Œë«í¼,2024-12-26,0
2,TRAIN_0002,ì „í™”í™•ì¸,114000000.0,380000,NaN,2.0,3.0,ë™í–¥,1.0,1.0,ë¶ˆê°€ëŠ¥,NaN,0,b03oE4G3F6,Aí”Œë«í¼,2024-11-28,0
3,TRAIN_0003,í˜„ì¥í™•ì¸,163500000.0,30000,36.3,3.0,9.0,ë‚¨ë™í–¥,2.0,1.0,ê°€ëŠ¥,13.0,10,G52Iz8V2B9,Aí”Œë«í¼,2024-11-26,0
4,TRAIN_0004,í˜„ì¥í™•ì¸,346000000.0,530000,NaN,3.0,3.0,ë™í–¥,2.0,1.0,ë¶ˆê°€ëŠ¥,NaN,0,N45gM0M7R0,Bí”Œë«í¼,2024-06-25,1

In [124]:

test = pd.read_csv('/Users/pycode/project/á„ƒá…¦á„‹á…µá„á…¥/test.csv')
test.info()
test.head()
test.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      613 non-null    object
 1   ë§¤ë¬¼í™•ì¸ë°©ì‹  613 non-null    object
 2   ë³´ì¦ê¸ˆ     613 non-null    float64
 3   ì›”ì„¸      613 non-null    int64
 4   ì „ìš©ë©´ì     429 non-null    float64
 5   í•´ë‹¹ì¸µ     563 non-null    float64
 6   ì´ì¸µ      611 non-null    float64
 7   ë°©í–¥      613 non-null    object
 8   ë°©ìˆ˜      611 non-null    float64
 9   ìš•ì‹¤ìˆ˜     611 non-null    float64
 10  ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€  613 non-null    object
 11  ì´ì£¼ì°¨ëŒ€ìˆ˜   438 non-null    float64
 12  ê´€ë¦¬ë¹„     613 non-null    int64
 13  ì¤‘ê°œì‚¬ë¬´ì†Œ   613 non-null    object
 14  ì œê³µí”Œë«í¼   613 non-null    object
 15  ê²Œì¬ì¼     613 non-null    object
dtypes: float64(7), int64(2), object(7)
memory usage: 76.8+ KB

ID          0
ë§¤ë¬¼í™•ì¸ë°©ì‹      0
ë³´ì¦ê¸ˆ         0
ì›”ì„¸          0
ì „ìš©ë©´ì       184
í•´ë‹¹ì¸µ        50
ì´ì¸µ          2
ë°©í–¥          0
ë°©ìˆ˜          2
ìš•ì‹¤ìˆ˜         2
ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€      0
ì´ì£¼ì°¨ëŒ€ìˆ˜     175
ê´€ë¦¬ë¹„         0
ì¤‘ê°œì‚¬ë¬´ì†Œ       0
ì œê³µí”Œë«í¼       0
ê²Œì¬ì¼         0
dtype: int64

## ğŸ“ ë°ì´í„° íƒ€ì… ì§€ì •
* train, test í•©ì¹˜ê¸° ì „ì— ë°ì´í„° íƒ€ì… ì§€ì •   
train -> ë°ì´í„°íƒ€ì… : 'train'    
test -> ë°ì´í„°íƒ€ì… : 'test' 
* concatìœ¼ë¡œ train + test

In [125]:
train['ë°ì´í„°íƒ€ì…'] = 'train'
test['ë°ì´í„°íƒ€ì…'] = 'test'
total_data = pd.concat([train.drop(columns='í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€'), test])

total_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3065 entries, 0 to 612
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3065 non-null   object
 1   ë§¤ë¬¼í™•ì¸ë°©ì‹  3065 non-null   object
 2   ë³´ì¦ê¸ˆ     3065 non-null   float64
 3   ì›”ì„¸      3065 non-null   int64
 4   ì „ìš©ë©´ì     2094 non-null   float64
 5   í•´ë‹¹ì¸µ     2786 non-null   float64
 6   ì´ì¸µ      3047 non-null   float64
 7   ë°©í–¥      3065 non-null   object
 8   ë°©ìˆ˜      3047 non-null   float64
 9   ìš•ì‹¤ìˆ˜     3045 non-null   float64
 10  ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€  3065 non-null   object
 11  ì´ì£¼ì°¨ëŒ€ìˆ˜   2194 non-null   float64
 12  ê´€ë¦¬ë¹„     3065 non-null   int64
 13  ì¤‘ê°œì‚¬ë¬´ì†Œ   3065 non-null   object
 14  ì œê³µí”Œë«í¼   3065 non-null   object
 15  ê²Œì¬ì¼     3065 non-null   object
 16  ë°ì´í„°íƒ€ì…   3065 non-null   object
dtypes: float64(7), int64(2), object(8)
memory usage: 431.0+ KB

## ğŸ“ train + test í›„ íŒŒìƒë³€ìˆ˜ ìƒì„±
* ë¯¸ê¸°ì¬
* ë°©ì¹˜ì¼ìˆ˜
* ì§‘ì„¸

In [126]:
import datetime

# ë¯¸ê¸°ì¬
total_data['ë¯¸ê¸°ì¬'] = total_data.isna().sum(axis=1)

# ë°©ì¹˜ì¼ìˆ˜
last = datetime.datetime.strptime(total_data['ê²Œì¬ì¼'].max(), "%Y-%m-%d").date()
today = last + datetime.timedelta(days=1)

def get_delta_day(date):
    delta = today - datetime.datetime.strptime(date, "%Y-%m-%d").date()
    return delta.days

total_data['ë°©ì¹˜ì¼ìˆ˜'] = total_data['ê²Œì¬ì¼'].apply(lambda x: get_delta_day(x))

# ì§‘ì„¸
total_data['ì§‘ì„¸'] = total_data['ê´€ë¦¬ë¹„'] * 10000 + total_data['ì›”ì„¸']

total_data.head()

,ID,ë§¤ë¬¼í™•ì¸ë°©ì‹,ë³´ì¦ê¸ˆ,ì›”ì„¸,ì „ìš©ë©´ì,í•´ë‹¹ì¸µ,ì´ì¸µ,ë°©í–¥,ë°©ìˆ˜,ìš•ì‹¤ìˆ˜,ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€,ì´ì£¼ì°¨ëŒ€ìˆ˜,ê´€ë¦¬ë¹„,ì¤‘ê°œì‚¬ë¬´ì†Œ,ì œê³µí”Œë«í¼,ê²Œì¬ì¼,ë°ì´í„°íƒ€ì…,ë¯¸ê¸°ì¬,ë°©ì¹˜ì¼ìˆ˜,ì§‘ì„¸
0,TRAIN_0000,í˜„ì¥í™•ì¸,402500000.0,470000,NaN,NaN,15.0,ì„œí–¥,1.0,1.0,ê°€ëŠ¥,40.0,96,t93Nt6I2I0,Bí”Œë«í¼,2024-10-09,train,2,146,1430000
1,TRAIN_0001,í˜„ì¥í™•ì¸,170500000.0,200000,NaN,3.0,4.0,ë‚¨ë™í–¥,2.0,1.0,ë¶ˆê°€ëŠ¥,NaN,0,q39iV5J4E6,Dí”Œë«í¼,2024-12-26,train,2,68,200000
2,TRAIN_0002,ì „í™”í™•ì¸,114000000.0,380000,NaN,2.0,3.0,ë™í–¥,1.0,1.0,ë¶ˆê°€ëŠ¥,NaN,0,b03oE4G3F6,Aí”Œë«í¼,2024-11-28,train,2,96,380000
3,TRAIN_0003,í˜„ì¥í™•ì¸,163500000.0,30000,36.3,3.0,9.0,ë‚¨ë™í–¥,2.0,1.0,ê°€ëŠ¥,13.0,10,G52Iz8V2B9,Aí”Œë«í¼,2024-11-26,train,0,98,130000
4,TRAIN_0004,í˜„ì¥í™•ì¸,346000000.0,530000,NaN,3.0,3.0,ë™í–¥,2.0,1.0,ë¶ˆê°€ëŠ¥,NaN,0,N45gM0M7R0,Bí”Œë«í¼,2024-06-25,train,2,252,530000

## ğŸ“ train + test í›„ ê²°ì¸¡ì¹˜ ì²˜ë¦¬

### 1. ë°©ìˆ˜, ìš•ì‹¤ìˆ˜   
  -> ê°€ì¥ ë§ì€ ìˆ˜ì¸ 1ë¡œ ì±„ì›€

In [127]:
room = total_data['ë°©ìˆ˜'].value_counts()
bath = total_data['ìš•ì‹¤ìˆ˜'].value_counts()
print(room)
print(bath)

total_data[['ë°©ìˆ˜', 'ìš•ì‹¤ìˆ˜']] = total_data[['ë°©ìˆ˜', 'ìš•ì‹¤ìˆ˜']].fillna(1.0)

ë°©ìˆ˜
1.0    1881
2.0    1166
Name: count, dtype: int64
ìš•ì‹¤ìˆ˜
1.0    2940
2.0     105
Name: count, dtype: int64

### 2. ì „ìš©ë©´ì    
  -> ë°©ìˆ˜, ìš•ì‹¤ìˆ˜ ì¡°í•©ìœ¼ë¡œ ì „ìš©ë©´ì  í‰ê·  ë° ì ìš©

In [128]:
dropna_total = total_data.dropna(subset=['ì „ìš©ë©´ì '], how='any', axis=0)
new_data = pd.DataFrame(dropna_total, columns=('ë°©ìˆ˜', 'ìš•ì‹¤ìˆ˜', 'ì „ìš©ë©´ì '))

mean_data = new_data.groupby(['ë°©ìˆ˜', 'ìš•ì‹¤ìˆ˜'], as_index=False).mean()
print(mean_data)

for index, row in total_data.iterrows():
    if (pd.isna(row['ì „ìš©ë©´ì '])):
        filterTrain = mean_data[(mean_data['ë°©ìˆ˜'] == row['ë°©ìˆ˜']) & (mean_data['ìš•ì‹¤ìˆ˜'] == row['ìš•ì‹¤ìˆ˜'])]
        total_data.at[index, 'ì „ìš©ë©´ì '] = filterTrain['ì „ìš©ë©´ì '].values[0]

total_data.head()

    ë°©ìˆ˜  ìš•ì‹¤ìˆ˜       ì „ìš©ë©´ì
0  1.0  1.0  25.160408
1  2.0  1.0  32.201518
2  2.0  2.0  26.756931

,ID,ë§¤ë¬¼í™•ì¸ë°©ì‹,ë³´ì¦ê¸ˆ,ì›”ì„¸,ì „ìš©ë©´ì,í•´ë‹¹ì¸µ,ì´ì¸µ,ë°©í–¥,ë°©ìˆ˜,ìš•ì‹¤ìˆ˜,ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€,ì´ì£¼ì°¨ëŒ€ìˆ˜,ê´€ë¦¬ë¹„,ì¤‘ê°œì‚¬ë¬´ì†Œ,ì œê³µí”Œë«í¼,ê²Œì¬ì¼,ë°ì´í„°íƒ€ì…,ë¯¸ê¸°ì¬,ë°©ì¹˜ì¼ìˆ˜,ì§‘ì„¸
0,TRAIN_0000,í˜„ì¥í™•ì¸,402500000.0,470000,25.160408,NaN,15.0,ì„œí–¥,1.0,1.0,ê°€ëŠ¥,40.0,96,t93Nt6I2I0,Bí”Œë«í¼,2024-10-09,train,2,146,1430000
1,TRAIN_0001,í˜„ì¥í™•ì¸,170500000.0,200000,32.201518,3.0,4.0,ë‚¨ë™í–¥,2.0,1.0,ë¶ˆê°€ëŠ¥,NaN,0,q39iV5J4E6,Dí”Œë«í¼,2024-12-26,train,2,68,200000
2,TRAIN_0002,ì „í™”í™•ì¸,114000000.0,380000,25.160408,2.0,3.0,ë™í–¥,1.0,1.0,ë¶ˆê°€ëŠ¥,NaN,0,b03oE4G3F6,Aí”Œë«í¼,2024-11-28,train,2,96,380000
3,TRAIN_0003,í˜„ì¥í™•ì¸,163500000.0,30000,36.300000,3.0,9.0,ë‚¨ë™í–¥,2.0,1.0,ê°€ëŠ¥,13.0,10,G52Iz8V2B9,Aí”Œë«í¼,2024-11-26,train,0,98,130000
4,TRAIN_0004,í˜„ì¥í™•ì¸,346000000.0,530000,32.201518,3.0,3.0,ë™í–¥,2.0,1.0,ë¶ˆê°€ëŠ¥,NaN,0,N45gM0M7R0,Bí”Œë«í¼,2024-06-25,train,2,252,530000

### 3. í•´ë‹¹ì¸µ, ì´ì¸µ   
  -> í‰ê· ì„ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì ìš©

In [129]:
room = round(total_data['í•´ë‹¹ì¸µ'].mean())
bath = round(total_data['ì´ì¸µ'].mean())
print(room)
print(bath)
total_data['í•´ë‹¹ì¸µ'] = total_data['í•´ë‹¹ì¸µ'].fillna(room)
total_data['ì´ì¸µ'] = total_data['ì´ì¸µ'].fillna(bath)

total_data.isna().sum()

5
8

ID          0
ë§¤ë¬¼í™•ì¸ë°©ì‹      0
ë³´ì¦ê¸ˆ         0
ì›”ì„¸          0
ì „ìš©ë©´ì         0
í•´ë‹¹ì¸µ         0
ì´ì¸µ          0
ë°©í–¥          0
ë°©ìˆ˜          0
ìš•ì‹¤ìˆ˜         0
ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€      0
ì´ì£¼ì°¨ëŒ€ìˆ˜     871
ê´€ë¦¬ë¹„         0
ì¤‘ê°œì‚¬ë¬´ì†Œ       0
ì œê³µí”Œë«í¼       0
ê²Œì¬ì¼         0
ë°ì´í„°íƒ€ì…       0
ë¯¸ê¸°ì¬         0
ë°©ì¹˜ì¼ìˆ˜        0
ì§‘ì„¸          0
dtype: int64

### 4. ì´ì£¼ì°¨ëŒ€ìˆ˜
-> í‰ê· ì„ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì ìš©

In [130]:
parking = round(total_data['ì´ì£¼ì°¨ëŒ€ìˆ˜'].mean())
total_data['ì´ì£¼ì°¨ëŒ€ìˆ˜'] = total_data['ì´ì£¼ì°¨ëŒ€ìˆ˜'].fillna(parking)

## ğŸ“ ë³´ì¦ê¸ˆ, ì›”ì„¸, ê´€ë¦¬ë¹„ ë‹¨ìœ„ ì •ë¦¬

In [131]:
total_data['ë³´ì¦ê¸ˆ'] = total_data['ë³´ì¦ê¸ˆ'] / 10000
total_data['ì›”ì„¸'] = total_data['ì›”ì„¸'] / 10000
total_data['ì§‘ì„¸'] = total_data['ì§‘ì„¸'] / 10000
# total_data['ê´€ë¦¬ë¹„'] = total_data['ê´€ë¦¬ë¹„'] * 10000
total_data.head()

,ID,ë§¤ë¬¼í™•ì¸ë°©ì‹,ë³´ì¦ê¸ˆ,ì›”ì„¸,ì „ìš©ë©´ì,í•´ë‹¹ì¸µ,ì´ì¸µ,ë°©í–¥,ë°©ìˆ˜,ìš•ì‹¤ìˆ˜,ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€,ì´ì£¼ì°¨ëŒ€ìˆ˜,ê´€ë¦¬ë¹„,ì¤‘ê°œì‚¬ë¬´ì†Œ,ì œê³µí”Œë«í¼,ê²Œì¬ì¼,ë°ì´í„°íƒ€ì…,ë¯¸ê¸°ì¬,ë°©ì¹˜ì¼ìˆ˜,ì§‘ì„¸
0,TRAIN_0000,í˜„ì¥í™•ì¸,40250.0,47.0,25.160408,5.0,15.0,ì„œí–¥,1.0,1.0,ê°€ëŠ¥,40.0,96,t93Nt6I2I0,Bí”Œë«í¼,2024-10-09,train,2,146,143.0
1,TRAIN_0001,í˜„ì¥í™•ì¸,17050.0,20.0,32.201518,3.0,4.0,ë‚¨ë™í–¥,2.0,1.0,ë¶ˆê°€ëŠ¥,20.0,0,q39iV5J4E6,Dí”Œë«í¼,2024-12-26,train,2,68,20.0
2,TRAIN_0002,ì „í™”í™•ì¸,11400.0,38.0,25.160408,2.0,3.0,ë™í–¥,1.0,1.0,ë¶ˆê°€ëŠ¥,20.0,0,b03oE4G3F6,Aí”Œë«í¼,2024-11-28,train,2,96,38.0
3,TRAIN_0003,í˜„ì¥í™•ì¸,16350.0,3.0,36.300000,3.0,9.0,ë‚¨ë™í–¥,2.0,1.0,ê°€ëŠ¥,13.0,10,G52Iz8V2B9,Aí”Œë«í¼,2024-11-26,train,0,98,13.0
4,TRAIN_0004,í˜„ì¥í™•ì¸,34600.0,53.0,32.201518,3.0,3.0,ë™í–¥,2.0,1.0,ë¶ˆê°€ëŠ¥,20.0,0,N45gM0M7R0,Bí”Œë«í¼,2024-06-25,train,2,252,53.0

---------------

# ğŸ“ğŸ“ Encoding
-> ë ˆì´ë¸” ì¸ì½”ë”© (Label encoding) ì‚¬ìš©

In [132]:
from sklearn.preprocessing import LabelEncoder

def encode_features(dataDF):
    features = ['ë§¤ë¬¼í™•ì¸ë°©ì‹', 'ë°©í–¥', 'ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€', 'ì¤‘ê°œì‚¬ë¬´ì†Œ', 'ì œê³µí”Œë«í¼']
    for feature in features:
        le = LabelEncoder()
        le = le.fit(dataDF[feature])
        dataDF[feature] = le.transform(dataDF[feature])
    
    return dataDF

total_data = encode_features(total_data)
total_data.head()

,ID,ë§¤ë¬¼í™•ì¸ë°©ì‹,ë³´ì¦ê¸ˆ,ì›”ì„¸,ì „ìš©ë©´ì,í•´ë‹¹ì¸µ,ì´ì¸µ,ë°©í–¥,ë°©ìˆ˜,ìš•ì‹¤ìˆ˜,ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€,ì´ì£¼ì°¨ëŒ€ìˆ˜,ê´€ë¦¬ë¹„,ì¤‘ê°œì‚¬ë¬´ì†Œ,ì œê³µí”Œë«í¼,ê²Œì¬ì¼,ë°ì´í„°íƒ€ì…,ë¯¸ê¸°ì¬,ë°©ì¹˜ì¼ìˆ˜,ì§‘ì„¸
0,TRAIN_0000,2,40250.0,47.0,25.160408,5.0,15.0,7,1.0,1.0,0,40.0,96,256,1,2024-10-09,train,2,146,143.0
1,TRAIN_0001,2,17050.0,20.0,32.201518,3.0,4.0,0,2.0,1.0,1,20.0,0,240,3,2024-12-26,train,2,68,20.0
2,TRAIN_0002,1,11400.0,38.0,25.160408,2.0,3.0,3,1.0,1.0,1,20.0,0,157,0,2024-11-28,train,2,96,38.0
3,TRAIN_0003,2,16350.0,3.0,36.300000,3.0,9.0,0,2.0,1.0,0,13.0,10,32,0,2024-11-26,train,0,98,13.0
4,TRAIN_0004,2,34600.0,53.0,32.201518,3.0,3.0,3,2.0,1.0,1,20.0,0,76,1,2024-06-25,train,2,252,53.0

# ğŸ“ğŸ“ Feature Scaling
-> MinMaxScaler ì‚¬ìš©

In [133]:
from sklearn.preprocessing import MinMaxScaler

# MinMaxScalerê°ì²´ ìƒì„±
scaler = MinMaxScaler()
# MinMaxScaler ë¡œ ë°ì´í„° ì…‹ ë³€í™˜. fit() ê³¼ transform() í˜¸ì¶œ.  
cols_for_scale = ['ë³´ì¦ê¸ˆ', 'ì›”ì„¸', 'ì „ìš©ë©´ì ', 'í•´ë‹¹ì¸µ', 'ì´ì¸µ', 'ë°©ìˆ˜', 'ìš•ì‹¤ìˆ˜', 'ì´ì£¼ì°¨ëŒ€ìˆ˜', 'ê´€ë¦¬ë¹„', 'ë¯¸ê¸°ì¬', 'ë°©ì¹˜ì¼ìˆ˜', 'ì§‘ì„¸']
scaler.fit(total_data[cols_for_scale])
total_data[cols_for_scale] = scaler.transform(total_data[cols_for_scale])

# transform()ì‹œ scale ë³€í™˜ëœ ë°ì´í„° ì…‹ì´ numpy ndarryë¡œ ë°˜í™˜ë˜ì–´ ì´ë¥¼ DataFrameìœ¼ë¡œ ë³€í™˜
total_data_scaled = pd.DataFrame(data=total_data, columns=total_data.columns)
print('featureë“¤ì˜ ìµœì†Ÿê°’')
print(total_data_scaled.min())
print('\nfeatureë“¤ì˜ ìµœëŒ“ê°’')
print(total_data_scaled.max())
total_data_scaled.head()

featureë“¤ì˜ ìµœì†Ÿê°’
ID          TEST_000
ë§¤ë¬¼í™•ì¸ë°©ì‹             0
ë³´ì¦ê¸ˆ              0.0
ì›”ì„¸               0.0
ì „ìš©ë©´ì              0.0
í•´ë‹¹ì¸µ              0.0
ì´ì¸µ               0.0
ë°©í–¥                 0
ë°©ìˆ˜               0.0
ìš•ì‹¤ìˆ˜              0.0
ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€             0
ì´ì£¼ì°¨ëŒ€ìˆ˜            0.0
ê´€ë¦¬ë¹„              0.0
ì¤‘ê°œì‚¬ë¬´ì†Œ              0
ì œê³µí”Œë«í¼              0
ê²Œì¬ì¼       2023-04-28
ë°ì´í„°íƒ€ì…           test
ë¯¸ê¸°ì¬              0.0
ë°©ì¹˜ì¼ìˆ˜             0.0
ì§‘ì„¸               0.0
dtype: object

featureë“¤ì˜ ìµœëŒ“ê°’
ID        TRAIN_2451
ë§¤ë¬¼í™•ì¸ë°©ì‹             2
ë³´ì¦ê¸ˆ              1.0
ì›”ì„¸               1.0
ì „ìš©ë©´ì              1.0
í•´ë‹¹ì¸µ              1.0
ì´ì¸µ               1.0
ë°©í–¥                 7
ë°©ìˆ˜               1.0
ìš•ì‹¤ìˆ˜              1.0
ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€             1
ì´ì£¼ì°¨ëŒ€ìˆ˜            1.0
ê´€ë¦¬ë¹„              1.0
ì¤‘ê°œì‚¬ë¬´ì†Œ            294
ì œê³µí”Œë«í¼             13
ê²Œì¬ì¼       2025-03-03
ë°ì´í„°íƒ€ì…          train
ë¯¸ê¸°ì¬              1.0
ë°©ì¹˜ì¼ìˆ˜             1.0
ì§‘ì„¸               1.0
dtype: object

,ID,ë§¤ë¬¼í™•ì¸ë°©ì‹,ë³´ì¦ê¸ˆ,ì›”ì„¸,ì „ìš©ë©´ì,í•´ë‹¹ì¸µ,ì´ì¸µ,ë°©í–¥,ë°©ìˆ˜,ìš•ì‹¤ìˆ˜,ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€,ì´ì£¼ì°¨ëŒ€ìˆ˜,ê´€ë¦¬ë¹„,ì¤‘ê°œì‚¬ë¬´ì†Œ,ì œê³µí”Œë«í¼,ê²Œì¬ì¼,ë°ì´í„°íƒ€ì…,ë¯¸ê¸°ì¬,ë°©ì¹˜ì¼ìˆ˜,ì§‘ì„¸
0,TRAIN_0000,2,0.874587,0.626667,0.235923,0.20,0.684211,7,0.0,0.0,0,0.066214,1.000000,256,1,2024-10-09,train,0.333333,0.214815,1.000000
1,TRAIN_0001,2,0.364136,0.266667,0.452772,0.10,0.105263,0,1.0,0.0,1,0.032258,0.000000,240,3,2024-12-26,train,0.333333,0.099259,0.139860
2,TRAIN_0002,1,0.239824,0.506667,0.235923,0.05,0.052632,3,0.0,0.0,1,0.032258,0.000000,157,0,2024-11-28,train,0.333333,0.140741,0.265734
3,TRAIN_0003,2,0.348735,0.040000,0.578996,0.10,0.368421,0,1.0,0.0,0,0.020374,0.104167,32,0,2024-11-26,train,0.000000,0.143704,0.090909
4,TRAIN_0004,2,0.750275,0.706667,0.452772,0.10,0.052632,3,1.0,0.0,1,0.032258,0.000000,76,1,2024-06-25,train,0.333333,0.371852,0.370629

# ğŸ“ğŸ“ train, test ë°ì´í„° ë¶„ë¦¬

In [134]:
total_data = total_data_scaled
train_data = total_data[total_data['ë°ì´í„°íƒ€ì…'] == 'train']
test_data = total_data[total_data['ë°ì´í„°íƒ€ì…'] == 'test']
# print(train_data.head())
# print("-" * 10)
# print(test_data.head())

# def set_false(data) :
#     tttt = train[train['ID'] == data]
#     return tttt['í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€'].values[0]

# train_data["í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€"] = train_data["ID"].apply(lambda x : set_false(x))

train_data["í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€"] = train.set_index("ID").loc[train_data["ID"], "í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€"].values

train_data = train_data.drop(columns=['ID', 'ê²Œì¬ì¼', 'ë°ì´í„°íƒ€ì…'])
train_data.head()

# train_data, test_data íŒŒì¼ë¡œ ì €ì¥
# modified_train_data = train_data.drop(columns='ë°ì´í„°íƒ€ì…')
# modified_test_data = test_data.drop(columns='ë°ì´í„°íƒ€ì…')
# modified_train_data.to_csv("/Users/pycode/project/á„ƒá…¦á„‹á…µá„á…¥/modified_train.csv", index = False)
# modified_test_data.to_csv("/Users/pycode/project/á„ƒá…¦á„‹á…µá„á…¥/modified_test.csv", index = False)

/var/folders/vf/7_3tcw7s7l1cqg5rdfjpnwf00000gn/T/ipykernel_80171/209674015.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data["í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€"] = train.set_index("ID").loc[train_data["ID"], "í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€"].values

,ë§¤ë¬¼í™•ì¸ë°©ì‹,ë³´ì¦ê¸ˆ,ì›”ì„¸,ì „ìš©ë©´ì,í•´ë‹¹ì¸µ,ì´ì¸µ,ë°©í–¥,ë°©ìˆ˜,ìš•ì‹¤ìˆ˜,ì£¼ì°¨ê°€ëŠ¥ì—¬ë¶€,ì´ì£¼ì°¨ëŒ€ìˆ˜,ê´€ë¦¬ë¹„,ì¤‘ê°œì‚¬ë¬´ì†Œ,ì œê³µí”Œë«í¼,ë¯¸ê¸°ì¬,ë°©ì¹˜ì¼ìˆ˜,ì§‘ì„¸,í—ˆìœ„ë§¤ë¬¼ì—¬ë¶€
0,2,0.874587,0.626667,0.235923,0.20,0.684211,7,0.0,0.0,0,0.066214,1.000000,256,1,0.333333,0.214815,1.000000,0
1,2,0.364136,0.266667,0.452772,0.10,0.105263,0,1.0,0.0,1,0.032258,0.000000,240,3,0.333333,0.099259,0.139860,0
2,1,0.239824,0.506667,0.235923,0.05,0.052632,3,0.0,0.0,1,0.032258,0.000000,157,0,0.333333,0.140741,0.265734,0
3,2,0.348735,0.040000,0.578996,0.10,0.368421,0,1.0,0.0,0,0.020374,0.104167,32,0,0.000000,0.143704,0.090909,0
4,2,0.750275,0.706667,0.452772,0.10,0.052632,3,1.0,0.0,1,0.032258,0.000000,76,1,0.333333,0.371852,0.370629,1

-----------------